name: techcore
services:
  db:
    image: postgres:17-alpine
    container_name: postgres_db
    env_file:
      - ./.env
    ports:
      - 5432:5432
    environment:
      PGDATA: /var/lib/postgresql/data/pgdata
    volumes:
      - "./pgdata:/var/lib/postgresql/data/pgdata"
    restart: unless-stopped

  redis_db:
    image: redis:alpine
    container_name: redis_db
    ports:
      - 6379:6379
    env_file:
       - ./.env
    restart: unless-stopped

  mongo_db:
    image: mongo:latest
    container_name: mongo_db
    ports:
      - 27017:27017
    env_file:
       - ./.env
    volumes:
      - mongodata:/data/db
    restart: unless-stopped
  
  rabbitmq:
    image: rabbitmq:3-management-alpine
    hostname: rabbitmq
    container_name: rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672'
    environment:
      RABBITMQ_DEFAULT_USER: 'guest'
      RABBITMQ_DEFAULT_PASS: 'guest'
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq


volumes:
  pgdata:
    driver: local
  redisdata:
    driver: local
  mongodata:
    driver: local
  rabbitmq-data:
  
    